@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.child-with-book {
  background-size: cover;
  height: 400px;
  padding-right: 30px;
  padding-left: 30px;
}

.boys-book {
  background-color: #dce2cb;
  display: inline-flex;
  align-items: center;
  padding: 30px;
}

.girls-book {
  background-color: #e0bd97;
  display: inline-flex;
  align-items: center;
  padding: 30px;
}
